<!DOCTYPE html>
<html style="margin:0;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zienismeer.nl</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div style="height:100%;">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-12"></div>
                <div class="col-md-8 img-blocks">
                    <a href="interpersoonlijk.html" class="interpersoonlijk pull-left"> </a>
                    <a href="samenwerken.html" class="samenwerken pull-left"> </a>
                    <a href="overlegvaardigheden.html" class="overlegvaardigheden pull-left"> </a>
                    <a href="ondernemend.html" class="ondernemend pull-left"> </a>
                </div>
                <div class="col-md-12"></div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>