.competence_title{
    color:black ;
}

.inter-heading{
    background-color:rgb(254,141,70) !important;
}

.inter-heading .panel-title{
    color:black ;
}

.inter-body {
    background-color:rgba(254,141,70,0.6) !important;
}
.panel{
    border-color:rgba(232, 82, 24,1) !important;
}